<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8" />
    <title>Express Life</title>
    <link rel = "stylesheet" href="css/home.css" />
</head>
<body>

<div class="content" style = "padding-top : 50px;" >
    <div class="title">Express Life 1.0</div>
	
	<div class = "images-box" >
		<img src = "images/nodejs-logo.png" />
		<span> + </span>
		<img src = "images/express-logo.png" />
		<span> + </span>
		<img src = "images/Laravel_logo.png" />
		<span> + </span>
		<img src = "images/139426.png" />
		<span> = </span>
		<img src = "images/elife.png" />
	</div>

    <div class = 'e-button' ><a href = '/help' >Getting Started</a></div>
	
	<div class="title gow">God Of Web</div>
	<h3>League framework</h3>
	<h3>take the best to create the best</h3>
</div>

</body>
</html>