<!DOCTYPE html>
<html>
<head lang="en">
    <link rel = "stylesheet" href="@url(css/help.css)" />
    <meta charset="UTF-8" />
    <title>${title}</title>
</head>
<body>

    @yield(body)

</body>
</html>